dashboard


<template>
  <div class="flex h-full">
    <div
      class="bg-white h-full rounded-lg w-[28%] mr-3 p-5 overflow-auto space-y-5 shadow-lg"
    >
      <div class="font-semibold text-xl text-primary">Emergency Alert :</div>

      <!-- alert -->
      <testAlert v-for="(post,index) in posts"
      @click="getDetails(post.id)"
      :location="`${post.address}, ${post.city}`"
      :type="post.type"
      :time="post.time"
      />

    </div>
    <div class="h-full w-[72%] ml-2">
      <div class="flex h-[15%] pb-5 gap-5">
        <div class="bg-white w-1/4 h-full rounded-lg p-5 flex shadow-lg">
          <div class="h-full w-[40%]">
            <div
              class="bg-primary h-full rounded-lg flex items-center justify-center text-white"
            >
              <mdicon
                class="origin-center"
                name="ProgressUpload"
                :width="50"
                :height="50"
              />
            </div>
          </div>
          <div class="h-full pl-3 w-[60%]">
            <div class="h-full">
              <div
                class="h-[65%] flex justify-center font-semibold items-end text-4xl"
              >
                {{ sent }}
              </div>
              <div class="h-[35%] flex justify-center items-start text-sm">
                Sent Reports
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white w-1/4 h-full rounded-lg p-5 flex shadow-lg">
          <div class="h-full w-[40%]">
            <div
              class="bg-primary h-full rounded-lg flex items-center justify-center text-white"
            >
              <mdicon
                class="origin-center"
                name="ProgressClose"
                :width="50"
                :height="50"
              />
            </div>
          </div>
          <div class="h-full pl-3 w-[60%]">
            <div class="h-full">
              <div
                class="h-[65%] flex justify-center font-semibold items-end text-4xl"
              >
                {{ cancelled }}
              </div>
              <div class="h-[35%] flex justify-center items-start text-sm">
                Cancelled Reports
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white w-1/4 h-full rounded-lg p-5 flex shadow-lg">
          <div class="h-full w-[40%]">
            <div
              class="bg-primary h-full rounded-lg flex items-center justify-center text-white"
            >
              <mdicon
                class="origin-center"
                name="ProgressCheck"
                :width="50"
                :height="50"
              />
            </div>
          </div>
          <div class="h-full pl-3 w-[60%]">
            <div class="h-full">
              <div
                class="h-[65%] flex justify-center font-semibold items-end text-4xl"
              >
                {{ acknowledged }}
              </div>
              <div class="h-[35%] flex justify-center items-start text-sm">
                Acknowledged
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white w-1/4 h-full rounded-lg p-5 flex shadow-lg">
          <div class="h-full w-[40%]">
            <div
              class="bg-primary h-full rounded-lg flex items-center justify-center text-white"
            >
              <mdicon
                class="origin-center"
                name="ProgressQuestion"
                :width="50"
                :height="50"
              />
            </div>
          </div>
          <div class="h-full pl-3 w-[60%]">
            <div class="h-full">
              <div
                class="h-[65%] flex justify-center font-semibold items-end text-4xl"
              >
                {{ pending }}
              </div>
              <div class="h-[35%] flex justify-center items-start text-sm">
                Pending Reports
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[85%]">
        <div class="h-full flex">
          <div class="w-1/2 h-full bg-white rounded-lg shadow-lg mr-3">
            <EditReportPane
            @click="check"
              v-model:fire="fire"
              v-model:flood="flood"
              v-model:assault="assault"
              v-model:injuries="injuries"
              v-model:biohazard="biohazard"
              v-model:others="others"
              v-model:additionalDescription="additionalDescription"
              :city="city"
              :zipcode="zipcode"

              :postDetails="postDetails"
              :location="location"

              :emergencies="typeOfEmergency"
              :checked="checked"

              :emergency_team="city_responders"
              :deployed_team="deployed_team"
              :team_checked="team_checked"
            />
          </div>
          <div class="w-1/2 h-full p-5 bg-white rounded-lg shadow-lg ml-2">
            <div for="" class="w-full text-lg font-semibold text-primary mb-2">
              <br>
            </div>
            <div class="h-[75%]">
              <div class="flex items-center justify-center h-[calc(100% - 40px)] overflow-hidden">
                <!-- Setting overflow-hidden to prevent overflow -->
                <Map
                  :inputText="mapText"             
                  :type="mapType"
                />
              </div>
              <div class="flex flex-col mt-5 items-center justify-center">
                <button 
                @click="sendPost"
                  class="w-[85%] h-12 bg-primary text-white rounded-lg font-semibold mb-2 hover:bg-white hover:text-primary hover:border-primary border-primary border-2 transition duration-300"
                >
                  Send
                </button>
                <button @click="denyPost(postID.value)"
                  class="w-[85%] h-12 bg-primary text-white rounded-lg font-semibold mb-2 hover:bg-white hover:text-primary hover:border-primary border-primary border-2 transition duration-300"
                >
                  Discard
                </button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

    <!-- MODAL START -->
    <div v-if="alertModal" class="fixed inset-0 flex items-center justify-center z-50">
      <div class="fixed inset-0 bg-gray-900 bg-opacity-50 transition-opacity ease-in-out duration-300"></div>
  
      <div class="bg-white rounded-lg p-8 w-96 max-w-full mx-auto z-50 shadow-xl transform transition-all duration-500 ease-in-out">
        <div class="flex justify-end">
          <button @click="closeModal" class="text-gray-500 hover:text-gray-700 focus:outline-none">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
  
        <h2 class="text-2xl font-bold text-red-600 mb-4">Emergency Alert!</h2>
        <p class="text-lg mb-6">There is an emergency situation. Please take necessary precautions.</p>
        
        <button @click="closeModal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md transition duration-300 ease-in-out transform hover:scale-105">
          GOT IT
        </button>
      </div>
    </div>
  <!-- MODAL END -->
  
</template>
<script setup>
import testAlert from "../testComposables/testAlert.vue";
import EditReportPane from "../components/operatorPane/EditReportPane.vue";
import Map from "../composables/Map.vue";
import stringSimilarity from 'string-similarity'; 
import {ref,onMounted,watch} from "vue";
import axios from "axios";

onMounted(()=>{
  initializeDataFetching();  
  getLocations();
  getResponders();
});

const posts = ref([]);
const postID = ref();
const additionalDescription = ref("");


const pending = ref(0);
const cancelled = ref(0);
const acknowledged = ref(0);
const sent = ref(0);
const locations = ref([]);
const responders = ref([]);
const city_responders = ref([]);

const city = ref();
const zipcode = ref();

const mapText = ref();
const mapType = ref();

const alertModal = ref(false);


const getPost = async () =>{
  try{
    posts.value = [];
    sent.value=0;
    pending.value = 0;
    acknowledged.value = 0;
    cancelled.value = 0;
    const response = await fetch(`http://localhost:8080/getPost`);
    const data = await response.json();

  for(var i = 0; i < data.length ; i++){
    if (data[i].status == 'Pending') {
      const timestamp = new Date(data[i].timestamp);

      const month = timestamp.getMonth() + 1; 
      const day = timestamp.getDate();
      const year = timestamp.getFullYear();

      let hours = timestamp.getHours();
      const minutes = timestamp.getMinutes();
      const ampm = hours >= 12 ? 'PM' : 'AM';
      hours = hours % 12;
      hours = hours ? hours : 12; 
      const time = hours + ':' + (minutes < 10 ? '0' : '') + minutes + ' ' + ampm;

      posts.value.push({
        id: data[i].post_id,
        description: data[i].description,
        type: data[i].emergency_type,
        address: data[i].address,
        month: month,
        day: day,
        year: year,
        time: time,
        city: data[i].city,
        zipcode: data[i].zipcode
      });
      pending.value++;
    }
    else if(data[i].status=='Sent'){
      sent.value++;
    }
    else if(data[i].status=='Acknowledged'){
      acknowledged.value++;
    }
    else if(data[i].status=='Cancelled'){
      cancelled.value++;
    }

    // const currentLength = posts.value.length;

    // // Trigger action if there's a change in length
    // if (currentLength > previousLength) {
    //     const audio = new Audio(`src/assets/alert.mp3`);
    //     audio.play();
    //     previousLength = currentLength;
    //     openModal();
    // }

  }

  }
  catch(error){
    console.log(error);
  }


}

const openModal = () => {
  alertModal.value=true;
}
const closeModal = () => {
  alertModal.value=false;
}

const postDetails = ref();
const location = ref();
const typeOfEmergency = ref([]);
const deployed_team = ref([]);


const fire = ref(false);
const flood = ref(false);
const assault = ref(false);
const injuries = ref(false);
const biohazard = ref(false);
const others = ref(false);
const address = ref();

const getDetails = async (id) =>{
  typeOfEmergency.value = ([]);
  city_responders.value = ([]);
  fire.value = false
  flood.value = false;
  assault.value = false;
  injuries.value = false;
  biohazard.value = false;
  others.value = false;
  
  postID.value = id;

  const response = await fetch(`http://localhost:8080/getSinglePost/${id}`);
  const data = await response.json();
  postDetails.value = data[0].description;
  mapText.value = data[0].description;
  location.value = `${data[0].address}`;

  city.value = data[0].city;
  zipcode.value = data[0].zipcode;

  var description = data[0].description;
  var type = data[0].emergency_type;
  if(data[0].emergency_type=='Fire'){
    fire.value=true;  mapType.value='fire_station'
    getCityResponders(description,type);
  }
  else if(data[0].emergency_type=='Flood'){flood.value=true;}
  else if(data[0].emergency_type=='Assault'){assault.value=true;}
  else if(data[0].emergency_type=='Injuries'){injuries.value=true;}
  else if(data[0].emergency_type=='Biohazard'){biohazard.value=true;}
  else if(data[0].emergency_type=='Others'){others.value=true;}
  
  typeOfEmergency.value.push({emergency: data[0].emergency_type});



}

const getCityResponders = async (description,type) =>{
  const location_name = detectLocation(description)
  const city = await location_city(location_name);
  
  for(var i = 0 ; i < responders.value.length; i++){
    if(responders.value[i].location==city && responders.value[i].type=='fire_station'){
      city_responders.value.push({eru:responders.value[i].name});
    }
  }
}

function checked (isChecked,value){
  console.log(isChecked,value)
  if (isChecked) {
    typeOfEmergency.value.push({ emergency: value });
  } else {
    const index = typeOfEmergency.value.findIndex((item) => item.emergency === value);
    if (index !== -1) {
      typeOfEmergency.value.splice(index, 1);
    }
  }
}

function team_checked(isChecked, value) {
  console.log(isChecked, value);
  if (isChecked) {
    deployed_team.value.push({ eru: value });
  } else {
    const index = deployed_team.value.findIndex((item) => item.eru === value);
    if (index !== -1) {
      deployed_team.value.splice(index, 1);
    }
  }
}

// send poster
const editPostLocation = async (id) => {
  try {
    const response = await axios.put(`http://localhost:8080/updateLocation/${id}`,{
      address: location.value
    });
    // window.location.reload();
  } catch (error) {
    console.error(
      "Error acknowledging post:",
      error.message || "Unknown error"
    );
  }
}

const additionalResponseTeam = async (name) => {
  try {
    const formData = new FormData();
    formData.append("post_id", postID.value);
    formData.append("name", name);

    const response = await axios.post(
      "http://localhost:8080/addPostTeam",
      formData,
      {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      }
    );
  } catch (error) {
    console.log("Error: ", error);
  }
};
const sendPost = async () => {
  try {
    const operatorUserID = localStorage.getItem("operator_userId");
    const response = await fetch("http://localhost:8080/getOperator");
    const data = await response.json();
    for (var i = 0; i < data.length; i++) {
      if (operatorUserID == data[i].user_id) {
        const operatorID = data[i].operator_id;
        await axios.put(`http://localhost:8080/updatePost/${postID.value}`, {
          responder_id: null,
          operator_id: operatorID,
          additional_description: additionalDescription.value,
          post_id: postID.value,
        });

        sentPost(postID.value);
        editPostLocation(postID.value);
        for(var i = 0 ; i < deployed_team.value.length ; i ++){
          additionalResponseTeam(deployed_team.value[i].eru);
        }
        window.location.reload();
        break;
      }
    }
  } catch (error) {
    console.error("Error acknowledging post:", error);
  }
};

const sentPost = async (id) => {
  try {
    const response = await axios.put(`http://localhost:8080/sendPost/${id}`);
    // window.location.reload();
  } catch (error) {
    console.error(
      "Error acknowledging post:",
      error.message || "Unknown error"
    );
  }
};

const denyPost = async (id) => {
  try {
    const response = await axios.put(`http://localhost:8080/denyPost/${id}`);
    window.location.reload();
  } catch (error) {
    console.error(
      "Error acknowledging post:",
      error.message || "Unknown error"
    );
  }
};





// location getter

const getLocations = async () => {
  const response = await fetch('http://localhost:8080/getLocation');
  const data = await response.json();
  for(var i = 0 ; i < data.length ; i ++){
    locations.value.push(data[i].name);
  }
};

const getResponders = async () => {
  const response = await fetch('http://localhost:8080/getResponderUnits');
  const data = await response.json();
  for(var i = 0 ; i < data.length ; i ++){
    responders.value.push({
      name: data[i].name,
      location: data[i].location,
      type:data[i].type
    });
  }
};



const detectLocation = (text) => {  
  const sentence = text.toLowerCase().replace(/\s+/g, '');
  const matchedLocation = locations.value.find(location => sentence.includes(location));
  
  if (matchedLocation) {
    return matchedLocation;
  } else {
    const similarities = locations.value.map(location => stringSimilarity.compareTwoStrings(sentence, location));
    const maxSimilarityIndex = similarities.indexOf(Math.max(...similarities));
    return maxSimilarityIndex !== -1 ? locations.value[maxSimilarityIndex] : '';
  }
};

const location_city = async (detectedLocation) =>{
  const response = await fetch('http://localhost:8080/getLocation');
  const data = await response.json();
  for(var i = 0 ; i < data.length; i ++){
    if(detectedLocation==data[i].name){

      return data[i].location;
    }
  }
}

const location_zipcode = async (detectedLocation) =>{
  const response = await fetch('http://localhost:8080/getLocation');
  const data = await response.json();
  for(var i = 0 ; i < data.length; i ++){
    if(detectedLocation==data[i].name){

      return data[i].zipcode;
    }
  }
}


const initializeDataFetching = async () => {
    try {
        // Initial data fetch
        await getPost();

        // Polling every second
        setInterval(async () => {
            try {
                const response = await fetch(`http://localhost:8080/getPost`);
                const data = await response.json();
                let lth = 0;
                for(var i =0 ; i < data.length;i++){
                  if(data[i].status=='Pending'){
                    lth++;
                  }
                }
                if (lth > posts.value.length) {
                  getPost();
                  const audio = new Audio(`src/assets/alert.mp3`); 
                  audio.play();
                  openModal();
                }
            } catch (error) {
                console.error('Error fetching posts:', error);
            }
        }, 1000);
    } catch (error) {
        console.error('Error initializing data fetching:', error);
    }
};



</script>
